

h1{
    text-align: center;
    background:#00cc99;
    font-size: 2em;
    padding: .25em;
}
.name{
    padding: 1em;
}
body{
    background: #e6fff9;
}

.pageNav {
    padding: 50px;
    max-width: 400px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color:tomato;
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;    
    text-decoration: none;
    
}

.button:hover {
    background-color: yellow;
}

.selfie{
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.project{
    border: black solid 1px;
}

.container{
   display:flex; 
   justify-content: space-around;
   flex-wrap:wrap;
   padding: 0px 0px;
}

li{
    padding: 15px;
    margin: 5px;
    background: tomato;
    border-radius: 3px;
    list-style-type: none;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

li:hover{
    background-color: yellow;
}


/*
.time {
    display: inline-block;
    width: 33%;
    margin-right: -4px;
    vertical-align: top;
    text-align: left;
}

